$mobile: 375px;
$tablet: 1024px;
$desktop: 1440px;

$montserrat-font: 'Montserrat', 'sans-serif';
$moniqa-font: 'Moniqa Black Display', 'sans-serif';
$jeff-font: 'Jeff Script', 'sans-serif';

$accent-color: #705a66;
$main-text-color: #705a66;
$secondary-text-color: #f5f7f8;
$additional-text-color: #ffffff;
$main-background-color: #f5f7f8;
$secondary-background-color: #f5eee0;
$additional-background-color: #ddd5c6;
